* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none; 
    color: white;
}

.header-container {
    color: white;
    background-color: #1f2937;
    width: auto;
    max-width: 1920px;
    /* min-height: %; */
    padding: 20px 200px 150px 200px;
    height: auto;
    
}

.header {
    display: flex;
    margin-bottom: 100px;  
    justify-content: space-around;
    align-items: center; 
}

.h-link1 {
    display: flex;
    gap: 40px;
    font-size: 24px;
}

.header-logo {
    display: flex;
    font-weight: bolder;
    color: #f9faf8;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.header-logo img {
    max-width: 100%;
    height: auto;
}


.section-01 {
    display: flex;
    justify-content: space-between;
    /* height: auto;
    width: auto; */
}

.section-01 .content {
    margin-right: 40px;
}

.button1 {
    border-radius: 6px;
    border: none;
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.content .text_1 {
    max-width: 750px;
    margin-top: 30px;
    
}

button {
    background-color: #3882f6;
    color: white;
    padding: 4px 20px;
 }

.image {
    display: flex;
    width: 550;
    height: auto;
}

.image img {
    max-width: 100%;
    height: auto;
}

                            /* SECTION-02 */

.section-02.heading {
    font-size: 36px;
    color: #1f2937;
    font-weight: 600;
    text-align: center;
    margin: 40px 0;
}

.section-02 .content{
    display: flex;
    justify-content: center;
    gap: 40px; 
    flex-wrap: wrap;
}

.section-02.content.image {
    display: flex;
    width: 280px;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
   
}

.section-02.content.image img {
    max-width: 100%;
    /* height: auto; */
    height: 150px;
    border: 2px solid black;
    border-radius: 13px;
}

.section-02.content.image p {
    text-align: center;
}

                            /* SECTION-03 */

/* .section-03 {
    display: flex;
    min-height: 400px;
} */

.section-03 {
    background-color: #e5e7eb;
    margin-top: 50px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    text-align: center;
    padding: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote p {
    margin-left: auto;
    font-size: 32px;
    font-weight: 800;
}



 .footer {
    text-align: center;
 }